<form action="<%= post.new? ? "/posts" : "/posts/#{post.id}" %>" method="post">
  <input type="hidden" name="_method" value="<%= post.new? ? "post" : "put" %>">
  <div class="form-group">
    <label for="post-title">Title</label>
    <input type="text" name="post[title]" class="form-control" id="post-title" value="<%= post.title %>">
  </div>
  <div class="form-group">
    <label for="post-body">Body</label>
    <textarea name="post[body]" class="form-control" id="post-body"><%= post.body %></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Save</button>
  <a href="/posts/<%= post.id %>" class="btn btn-default">Cancel</a>
</form>
