<p id="notice"><%= notice %></p>

<h1>Listing Blog Posts</h1>

<table id="blog_posts">
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th>Draft</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @blog_posts.each do |blog_post| %>
      <tr data-id="<%= blog_post.id %>">
        <td><%= content_tag :span, blog_post.title, class: "js-title" %></td>
        <td><%= blog_post.body %></td>
        <td><%= check_box_tag "blog_post_draft_#{blog_post.id}", true, blog_post.draft, class: "js-draft" %></td>
        <td><%= link_to 'Show', blog_post %></td>
        <td><%= link_to 'Edit', edit_blog_post_path(blog_post) %></td>
        <td><%= link_to 'Destroy', blog_post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Blog post', new_blog_post_path %>
